package main

import "github.com/kamalshkeir/ksmux"

func main() {
	app := ksmux.New()
	app.Use(ksmux.Gzip())
	app.Get("/", func(c *ksmux.Context) {
		c.ResponseWriter.Write([]byte("Hello"))
	})

	app.Get("/test/:hello", func(c *ksmux.Context) {
		c.Text("Hello " + c.Param("hello"))
	})

	app.Run(":9313")
}
